@charset "UTF-8";

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgb(183, 183, 224);
    }
}
