@charset "UTF-8";

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 48vw);
        grid-row-start: 100px;
        justify-content: center;
    }

    .item {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    ul {
        grid-template-columns: repeat(3, 33vw);
    }
}

@media screen and (min-width: 1600px) {
    ul {
        grid-template-columns: repeat(4, 24.5vw);
    }

}