@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color1: #3788E6;
    --color2: #E64537;
    --backcolor: #37e6972f;
    --color3: #37C0E6;
    --color4: #9BE637;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backcolor);
}

h1 {
    background-color: var(--color1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 4em;
}

p {
    text-align: center;
    padding: 10px;
}

.li-1st > p {
    background-color: var(--color2);
    font-size: 3em;
}

.li-2nd > p {
    background-color: var(--color1);
    font-size: 2em;
}

ul {
    list-style: none;
}

li.li-2nd > ul {
    padding: 5px;
    
    font-size: 11px;
    font-weight: bold;
}

.item {
    background-color: var(--color3);
    border-radius: 10px;
    color:white;
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.item.checked {
    background-color: var(--color4);
    color: black;
    text-decoration: line-through;
    transition: all 0.3s;
}

.item label {  
    
    /* label em flex para ocupar todo o espaço de meu li, para ser clicável e marcável como uma checkbox */

    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    

    cursor: pointer;
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: none;
}

