@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color1: #3788E6;
    --backcolor: #37e69736;
    --color2: #9BE637;
    --color3: #37C0E6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backcolor);
}

.li-2nd {
    font-size: 3em;
}

ul {
    list-style: none;
}

ul:has(li.item) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    
    font-size: 14px;;
    font-weight: bold;
}

.item {
    background-color: var(--color3);
    border-radius: 20px;
    color:white;
    text-align: center;
    border: 1px solid black;
    flex-basis: 250px;
}

.item.checked {
    background-color: var(--color2);
    color: black;
    text-decoration: line-through;
    transition: all 0.3s;
}

.item label {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    

    cursor: pointer;
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: none;
}

