@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --color1: #3788E6;
    --color2: #E64537;
    --backcolor: #37e6972f;
    --color3: #37C0E6;
    --color4: #9BE637;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backcolor);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: var(--color1);
    color: white;
    padding: 10px;
}

h1 {
    font-size: 4em;
    text-align: center;
    order: 1;
}

button#menu {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: white;
    font-size: 33px;
    padding: 15px;
    margin-left: 5px;

    position: absolute;
    left: 0;
    cursor: pointer;
}

p {
    text-align: center;
    padding: 10px;
}

.li-1st > p {
    background-color: var(--color2);
    font-size: 3em;
}

.li-2nd > p {
    background-color: var(--color1);
    font-size: 2em;
}

ul, ol {
    list-style: none;
}

li > ul {
    padding: 5px;
    
    font-size: 11px;
    font-weight: bold;
}

.item {
    background-color: var(--color3);
    border-radius: 10px;
    color:rgb(255, 255, 255);
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.item.checked {
    background-color: var(--color4);
    color: black;
    text-decoration: line-through;
    transition: all 0.3s;
}

.item label {  
    
    /* label em flex para ocupar todo o espaço de meu li, para ser clicável e marcável como uma checkbox */

    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.item label:hover {
    background-color: rgba(214, 214, 214, 0.664);
}

input[type="checkbox"] {
    display: none;
}

.counter {
    text-align: center;
    padding: 9px;

    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

.counter-2nd {
    background-color: var(--color2);
    bottom: 34px;
}

.counter-1st {
    background-color: var(--color1);
}


